@charset "utf-8";

$grey-dark: #282828; // bg0 per gruvbox-dark spec
$grey-light: #ebdbb2;
$beige-dark: #d5c4a1; // fg2 per gruvbox-dark spec
$beige-light: #ebebd3;
$blue-dark: #458588; // blue per gruvbox-dark spec
$blue-light: #83a598; // blue per gruvbox-light spec
$red-dark: #cc241d;
$red-light: #fb4934;
$green-dark: #98971a;
$green-light: #b8bb26;
$yellow-dark: #d79921;
$yellow-light: #fabd2f;
$purple-dark: #b16286;
$aqua-dark: #689d6a;


// Path to Bulma's sass folder
@use "../../node_modules/bulma/sass/utilities" with (
  $family-primary: '"Rubik", sans-serif',
  $primary: $grey-dark,
  $link: $beige-dark,
  $control-border-width: 10px,
);

@use "../../node_modules/bulma/sass/form" with (
    $input-shadow: none
);

@use "../../node_modules/bulma/sass/components/navbar" with (
    $navbar-item-color: $beige-dark,
    $navbar-background-color: transparent
);

@use "../../node_modules/bulma/sass/layout/footer" with (
    $footer-background-color: transparent
);

@forward "../../node_modules/bulma/sass/base";
@forward "../../node_modules/bulma/sass/elements/content";
@forward "../../node_modules/bulma/sass/elements/title";
@forward "../../node_modules/bulma/sass/grid/columns";
@forward "../../node_modules/bulma/sass/helpers/position";
@forward "../../node_modules/bulma/sass/helpers/typography";
@forward "../../node_modules/bulma/sass/helpers/spacing";
@forward "../../node_modules/bulma/sass/helpers/visibility";
@forward "../../node_modules/bulma/sass/layout/container";
@forward "../../node_modules/bulma/sass/layout/hero";
@forward "../../node_modules/bulma/sass/layout/section";

@forward "../../node_modules/bulma/sass/themes";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.navbar {
    font-family: "Space Mono", monospace;
}

.navbar a {
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.logo {
  position: relative;
  font-family: "Space Mono", monospace;

  &::after {
    content: '';
    display: inline-block;
    width: 1ch;
    height: 1em;
    vertical-align: bottom;
    background-color: $beige-dark;
    margin-left: 0.01em;
    animation: blink 1s step-start infinite;
  }

  &:hover {
    color: $beige-light;
    cursor: default;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.logo:hover {
    color: $beige-light;
    cursor: default;
}

a.navbar-item:hover {
    background-color: transparent;
}

//a.navbar-item.is-active {
//    background-color: transparent; 
//    color: $beige-light;
//}

a.home:hover {
    color: $red-dark;
}

a.home.is-active {
    color: $red-dark;
    background-color: transparent;
}

a.home.is-active:hover {
    color: $red-light;
}

a.about:hover {
    color: $green-dark;
}

a.about.is-active {
    color: $green-dark;
    background-color: transparent;
}

a.about.is-active:hover {
    color: $green-light;
}

a.notes:hover {
    color: $blue-dark;
}

a.notes.is-active {
    color: $blue-dark;
    background-color: transparent;
}

a.notes.is-active:hover {
    color: $blue-light;
}

a.card-footer-item:hover {
    background-color: $beige-light;
}

a.post-title {
    text-decoration: underline;
}

body {
    color: $beige-dark;
    font-family: "Rubik", sans-serif;
}

.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

i {
    color: $beige-dark;
}

i.github:hover {
    color: $purple-dark;
}

i.linkedin:hover {
    color: $blue-dark;
}

h1.page-title {
    font-family: "Space Mono", sans-serif;
    color: $beige-dark;
    cursor: default;
}

h1.section-title {
    font-family: "Space Mono", monospace;
    color: $beige-dark;
}

h1.post-title {
    font-family: "Space Mono", monospace;
    color: $beige-dark;
    
}

h3.section-subtitle {
    color: $beige-dark;
}

.title {
    font-family: "Space Mono", monospace;
}

h3.post-title {
    font-family: "Space Mono", monospace;
    color: $beige-dark;
}

a.post-title:hover {
    color: $blue-dark;
}

p {
    color: #ABB1AC;

    a {
        text-decoration: underline;
    }
}

p a:hover {
    color: $beige-light;
}

p.footer-text {
    color: $beige-dark;
    cursor: default;
}

footer {
    color: $beige-dark;
    font-family: "Space Mono", monospace;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;

    .content {
        text-align: center;
    }

    .footer-text {
        margin-bottom: 0.5rem;
    }

    i {
        margin: 0 0.2rem;
        font-size: 1.2rem;
    }
}

::selection {
    background: $aqua-dark;
    color: $beige-light;
}

@media screen and (max-width: 1025px) {
    .navbar-brand {
      display: none !important;
    }

    .navbar-end {
        display: inline-flex !important;
    }
}
