@charset "utf-8";

// https://github.com/morhetz/gruvbox
$grey-dark: #282828;
$grey-light: #ebdbb2;
$beige-dark: #d5c4a1;
$beige-light: #ebebd3;
$blue-dark: #458588;
$blue-light: #83a598;
$red-dark: #cc241d;
$red-light: #fb4934;
$green-dark: #98971a;
$green-light: #b8bb26;
$yellow-dark: #d79921;
$yellow-light: #fabd2f;
$purple-dark: #b16286;
$aqua-dark: #689d6a;


// Importing Bulma components as-needed.
// Would like to get total CSS imports as low as possible.
@use "../../node_modules/bulma/sass/utilities" with (
  $family-primary: '"Rubik", sans-serif',
  $primary: $grey-dark,
  $link: $beige-dark,
  $control-border-width: 10px,
);

@use "../../node_modules/bulma/sass/form" with (
    $input-shadow: none
);

@use "../../node_modules/bulma/sass/components/navbar" with (
    $navbar-item-color: $beige-dark,
    $navbar-background-color: transparent
);

@use "../../node_modules/bulma/sass/layout/footer" with (
    $footer-background-color: transparent,
    $footer-padding: 0.3rem
);

@forward "../../node_modules/bulma/sass/base";
@forward "../../node_modules/bulma/sass/elements/content";
@forward "../../node_modules/bulma/sass/elements/title";
@forward "../../node_modules/bulma/sass/grid/columns";
@forward "../../node_modules/bulma/sass/helpers/spacing";
@forward "../../node_modules/bulma/sass/layout/container";
@forward "../../node_modules/bulma/sass/layout/hero";
@forward "../../node_modules/bulma/sass/layout/section";

@forward "../../node_modules/bulma/sass/themes";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Custom rules
.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.navbar {
    font-family: "Space Mono", monospace;
    background-color: transparent;

    a {
        text-align: center;
        padding: 12px 16px;
    }
}

.logo {
  position: relative;
  font-family: "Space Mono", monospace;
  cursor: default;

  &:hover {
    color: $beige-light;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 1ch;
    height: 1em;
    vertical-align: bottom;
    background-color: $beige-dark;
    margin-left: 0.01em;
    animation: blink 1s step-start infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

a.navbar-item {

    &:active,
    &:focus,
    &:hover {
        background-color: transparent;
    }

    &.home {
        &:hover {
            color: $red-dark;
        }

        &.is-active {
            color: $red-dark;
            background-color: transparent;

            &:hover {
                color: $red-light;
            }
        }
    }

    &.about {
        &:hover {
            color: $green-dark;
        }

        &.is-active {
            color: $green-dark;
            background-color: transparent;

            &:hover {
                color: $green-light;
            }
        }
    }

    &.notes {
        &:hover {
            color: $blue-dark;
        }

        &.is-active {
            color: $blue-dark;
            background-color: transparent;

            &:hover {
                color: $blue-light;
            }
        }
    }
}

a.card-footer-item:hover {
    background-color: $beige-light;
}

a.post-title {
    text-decoration: underline;

    &:hover {
        color: $blue-dark;
    }
}

body {
    color: $beige-dark;
    font-family: "Rubik", sans-serif;
}

h1.page-title {
    font-family: "Space Mono", sans-serif;
    color: $beige-dark;
    cursor: default;
}

h1.section-title {
    font-family: "Space Mono", monospace;
    color: $beige-dark;
}

h1.post-title {
    font-family: "Space Mono", monospace;
    color: $beige-dark;
    cursor: default;
}

h3.section-subtitle {
    color: $beige-dark;
}

.title {
    font-family: "Space Mono", monospace;
}

h3.post-title {
    font-family: "Space Mono", monospace;
    color: $beige-dark;
}

p {
    color: #ABB1AC;
    a {
        text-decoration: underline;
        &:hover {
            color: $beige-light;
        }
    }

    &.footer-text {
        color: $beige-dark;
        cursor: default;
    }
}

footer {
    color: $beige-dark;
    font-family: "Space Mono", monospace;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;

    .content {
        text-align: center;
    }

    .footer-text {
        margin-bottom: 0.5rem;
    }

    i {
        color: $beige-dark;
        margin: 0 0.2rem;
        font-size: 1.2rem;

        &.github:hover {
            color: $purple-dark;
        }

        &.linkedin:hover {
            color: $blue-dark;
        }
    }
}

::selection {
    background: $aqua-dark;
    color: $beige-light;
}

@media screen and (max-width: 1025px) {
    .navbar-brand {
      display: inline-flex !important;
    }

    .navbar-end {
        display: inline-flex !important;
    }

    .content {
        padding: 20px;
    }
}
