<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/761e73f4ac.js" crossorigin="anonymous"></script>
        <title>{{ title }}</title>
    </head>
    <body class="site">
        <div class="site-content">
            <header>{% include "./nav.html" %}</header>
            <main>
                {{ content }}
            </main>
        </div>
        <footer>{% include "./footer.html" %}</footer>
    </body>
</html>
