<nav class="navbar is-grey-dark" role="navigation" aria-label="main-navigation">
    <div class="container">
        <div class="navbar-brand">
            <div class="content">
                <p class="logo navbar-item">Zach Friedman</p>
            </div>
        </div>
        
        <div class="navbar-end">
            <a href="/" class="home navbar-item {% if page.url == '/' %}is-active{% endif %}">
                Home
            </a>

            <a href="/about" class="about navbar-item {% if page.url == '/about/' %}is-active{% endif %}">
                About
            </a>

            <a href="/posts" class="blog navbar-item {% if page.url contains '/posts/' %}is-active{% endif %}">
                Blog
            </a>
        </div>
    </div>
</nav>